<div class="well " style="margin-top:10px; padding-top:0px">
<h3> Welkom op de registratiepagina van Mobiligent! </h3>
<p id="info">
  Nu u een account heeft aangemaakt hoeft u enkel nog uw routes en locaties in te geven. Nadien kan u de applicatie gebruiken.
</p>

<h4>Routes</h4>
<p id="info">
  Een route is een traject dat je aflegt en heeft dus een begin- en eindpunt. U kan bijvoorbeeld de route van thuis naar uw werk ingeven en dan op deze route geïnformeerd worden als er bepaalde gebeurtenissen plaatsvinden zoals een file of wegenwerken. Om een route toe te voegen kan u bovenaan op "Routes toevoegen" klikken. Hier kan u alle informatie die nodig is om u op de hoogte te houden van specifieke gebeurtenissen op een bepaalde route ingeven. Als u het start- en eindpunt heeft ingegeven zal een route op de kaart worden voorgesteld. U kan deze route verslepen op de kaart als u een andere weg wilt volgen dan diegene die wordt voorgesteld.
</p id="info">

<h4>Locaties</h4>
<p id="info">
  U kan een locatie toevoegen door bovenaan op de knop "Locaties toevoegen" te klikken. Hier is het de bedoeling dat u een bepaalde locatie geeft, bijvoobeeld uw thuisadres, en een straal. U kan u dan inschrijven op specifieke gebeurtenissen binnen het opgegeven gebied.
</p>

<h4>Registratie voltooien of annuleren</h4>
<p id="info">
  Om uw registratie uiteindelijk te voltooien kan u onderaan op de knop "Voltooi registratie" klikken. Het is niet verplicht een locatie of een route in te geven om door te kunnen gaan met de registratie. Als u toch beslist om niet verder te gaan met de registratie kan u op "Annuleer registratie" klikken. Uw gebruikersgegevens zullen dan ook verwijderd worden.
</p>
</div>
