<!-- Navigation header -->
<div ng-include src=" 'js/directives/navBar.html' "></div>

<div class="text-center">
	<h1>Verificatie e-mail</h1>
	<p>
		Er werd een mail gestuurd naar uw e-mailadres om uw registratie bij MobiliGent te bevestingen.
		<br />
		U moet uw e-mailadres binnen de 24 uur valideren, anders wordt uw account verwijderd.
		<br />
	</p>
  <div >
    <div class="col-sm-offset-4 col-sm-2">
      <button class="btn btn-warning">
          Validatiemail opnieuw verzenden
      </button>
    </div>
    <div class="col-sm-2">
      <a href="#/index" class="btn btn-success" role="button">
        Keer terug naar de home pagina
      </a>
      <!--<button class="btn btn-success" href="#/index">
          Keer terug naar de home pagina
      </button>-->
    </div>
  </div>
	<!-- <a href="#/index.html">Keer terug naar de home pagina</a> -->
</div>
