# Gradle
# ------
*.gradle
/build
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build

# IDEA
# ----
.idea
.shelf
*.iml
*.ipr
*.iws
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/out
/backend/out/*
/subprojects/*/*.iml
/subprojects/*/out

# Eclipse
# -------
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
atlassian-ide-plugin.xml

# NetBeans
# --------
.nb-gradle
.nb-gradle-properties

# IntelliJ
# --------
.idea/
/out/

# Vim
# ---
*.sw[op]

# Emacs
# -----
*~

# Textmate
# --------
.textmate

# Sublime Text
# ------------
*.sublime-*

# OS X
# ----
.DS_Store

# Java
# ----
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# Visual Paradigm
*.vux

# Angular
# bower.json
bower_components/
node_modules/
# package.json

# backend build folder
backend/target/*
/backend/nbproject/

# frontend coverage folder
frontend/app/coverage
/frontend/app/nbproject/private/